<p>reactiveform2 works!</p>
<mat-card class="form-card">
  <mat-card-title>Reactive Form Example</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your full name" formControlName="name" />
          <div>
  @if (form.controls['name'].invalid && form.controls['name'].touched) {
    <span style="color: rgb(131, 6, 6); font-size: 14px;">Name is required</span>
  }
</div>
        
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required />
          <div>
  @if (form.controls['email'].errors?.['required'] && form.controls['email'].touched) {
    <span style="color: rgb(131, 6, 6); font-size: 14px;">Email is required</span>
  }
  @if (form.controls['email'].errors?.['email'] && form.controls['email'].touched) {
    <span style="color: rgb(131, 6, 6); font-size: 14px;">Enter a valid email</span>
  }
</div>
      </mat-form-field>


      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateofbirth" placeholder="MM/DD/YYYY" />
        <mat-datepicker #picker></mat-datepicker>
        <button mat-icon-button matSuffix (click)="picker.open()" type="button">
          <mat-icon>calendar_today</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Favorite Subject</mat-label>
        <mat-select formControlName="option">
          <mat-option value="one">Maths</mat-option>
          <mat-option value="two">English</mat-option>
          <mat-option value="three">Science</mat-option>
          <mat-option value="four">History</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Submit -->
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
