<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-4">
    <h2 th:text="${department.departmentId != 0} ? 'Edit Department' : 'Add Department'"></h2>

    <form th:action="@{/departments}" th:object="${department}" method="post">
        <input type="hidden" th:field="*{departmentId}"/>

        <div class="mb-3">
            <label class="form-label">Department Name</label>
            <input type="text" th:field="*{departmentName}" class="form-control" placeholder="Enter name"/>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a th:href="@{/departments}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
