
.app1 {
  color: white;
  background-color: palevioletred;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.app2 {
  color: black;
  background-color: lavender;
  padding: 10px;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
}
